.container-galleria{
    display: flex;
    justify-content: center;
}
.container-galleria p-card{
    width: 80%;
}
.container-card{
    display: flex;
}
.container-card__text{
    margin: 0 auto 0 20px;
    width: 100%;
}
.container-card__text span:first-child{
    color: black;
    font-size: 18px;
}
.container-card__text p-divider span{
    color: black;
    font-size: 14px;
}
.container-chart{
    width: 400px;
    margin: 50px auto;
}
.galleria-img{
    width: 100%;
    max-height: 300px;
    min-height: 300px;
}
p-galleria{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
@media only screen and (max-width: 1260px) {
    .container-card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .container-card__text{
        margin: 20px auto;
    }
}
.input-box{
    margin-bottom: 50px;
}
#review-title{
    color: black;
}
.container-reviews{
    width: 75%;
    margin: auto;
    h4{
        color: black;
    }
    .review-text{
        font-size: 16px !important;
        color: rgb(255, 137, 156) !important;
    }
    .container-rate{
        margin-bottom: 1rem;
        i{
            color: #f1b400;
            padding: .3rem;
        }
    }
}