<!-- <div class="header"></div>
<div class="header-corner">
  <div class="header-corner2"></div>
</div> -->
<div class="container">
  <div class="parallax container-background"><span>FEMORE</span></div>
  <div class="division">
    <button pButton type="button" label="Users" class="p-button-outlined" routerLink="/users/"></button>
    <button pButton type="button" label="Centers" class="p-button-outlined" routerLink="/centers/"></button>
    <button pButton type="button" label="About Us" class="p-button-outlined" routerLink="/about-us/"></button>
  </div>
  <div class="parallax2"><router-outlet></router-outlet></div>
</div>
