th{
    color: black !important;
}
.title-box{
    display: flex;
    align-items: center;
    justify-content: center;
    .item{
        flex: 100;
    }
    .item-button{
        flex: 1;
    }
}
.dialog-add{
    margin-bottom: 1rem;
}
.item{
    color: black;
}
#item-title{
    font-size: 18px;
}
tr#table-cursor:hover{
    background-color: rgb(233, 233, 233);
    cursor: pointer;
}
.dialog-container{
    display: flex;
    align-items: center;
}
.dialog-container button{
    margin-left: 10px;
    padding: .3rem;
}
.badge-true{
    margin-left: 10px;
    color: green;
    background-color: #96ff80;
    border-radius: 50%;
    padding: 5px;
}
.badge-false{
    margin-left: 10px;
    color: red;
    background-color: #ff9e9e;
    border-radius: 50%;
    padding: 5px;
}