<div class="container-item">
    <p-messages [value]="msgs"></p-messages>
    <p-table [value]="users" [paginator]="true" [rows]="10" responsiveLayout="scroll"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <div class="title-box">
                    <span class="item" id="item-title"><b>Usuarios</b></span>
                    <p-button class="item-button" icon="pi pi-plus" (click)="displayuser = true"></p-button>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Email</th>
                <th>Reseñas</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr id="table-cursor" (click)="showDialogDelete(user)">
                <td class="item"><b>{{user.userId}}</b></td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td class="item"><b>{{user.email}}</b></td>
                <td id="second"><p-badge [value]="user.reviews.length"></p-badge></td>
            </tr>
        </ng-template>
    </p-table>
    <p-dialog header="{{userSelected.firstName}} {{userSelected.lastName}}" [(visible)]="displaydelete">
        {{userSelected.firstName}} {{userSelected.lastName}} tiene <b>{{userSelected.reviews.length}}</b> reseñas hechas.
        <br>
        <br>
        <div class="dialog-container"><b>¿Quieres eliminar este usuario?</b> <button pButton type="button" icon="pi pi-trash" class="p-button-text p-button-danger" (click)="confirm(userSelected)"></button></div>
    </p-dialog>
    <p-confirmDialog header="Confirmation" icon="pi pi-times-circle"></p-confirmDialog>

    <p-dialog header="Agregar un usuario" [(visible)]="displayuser">
        <div class="p-col-12 p-md-4">
            <div class="p-inputgroup dialog-add">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input type="text" pInputText placeholder="Nombre" [(ngModel)]="user.firstName">         
            </div>
            <div class="p-inputgroup dialog-add">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input type="text" pInputText placeholder="Apellidos" [(ngModel)]="user.lastName">         
            </div>
            <div class="p-inputgroup dialog-add">
                <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                <input type="text" pInputText placeholder="Email" [(ngModel)]="user.email">         
            </div>
            <div style=" margin-bottom: 20px;">
                <p-password placeholder="Contraseña" [(ngModel)]="user.password" [toggleMask]="true"></p-password>      
            </div>
        </div>
        <div class="dialog-container"><b>¿Quieres crear este usuario?</b> <button pButton type="button" icon="pi pi-plus" class="p-button-text p-button-success" (click)="addUser()"></button></div>
    </p-dialog>
    <p-confirmDialog header="Confirmation" icon="pi pi-times-circle"></p-confirmDialog>
</div>