body{
    margin: 0;
}
.container-item{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 90%;
    margin: auto;
}
.p-datatable-header{
    border-radius: 10px 10px 0px 0px;
}
.p-badge{
    border-radius: 5px !important;
    padding: 0px !important;
    width: 40px !important;
}
#first .p-badge{
    background: rgb(255, 93, 120) !important;
}
#second .p-badge{
    background: rgb(62, 194, 255) !important;
}
.p-paginator-bottom {
    border-radius: 0px 0px 10px 10px !important;
}
.p-paginator .p-paginator-pages .p-paginator-page{
    border-radius: 5px !important;
    margin: .5rem !important;
}
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    color: white !important;
    background-color: rgb(255, 137, 156) !important;
    border-color: rgb(255, 93, 120) !important;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px rgb(255, 93, 120) !important;
}
.p-paginator .p-paginator-pages .p-paginator-page:focus{
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px rgb(255, 93, 120) !important;
}
.p-link:focus {
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px rgb(255, 93, 120) !important;
}
.p-dialog .p-dialog-footer button:nth-child(2){
    background: rgb(255, 67, 67) !important;
    border-color: red;
}
.p-dialog .p-dialog-footer button:nth-child(2):focus{
    background: rgb(255, 67, 67) !important;
    border-color: red;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px rgba(255, 0, 0, 0.507), 0 1px 2px 0 black;
}
.p-galleria-item-nav {
    top: 39% !important;
}
.p-galleria-item-nav span{
    color: rgb(255, 93, 120);
}
.p-timeline .p-timeline-event-marker {
    border: 2px solid rgb(255, 93, 120) !important;
}
.p-timeline-event {
    min-height: 130px !important;
}
.p-timeline-event:last-child {
    min-height: 60px !important;
}
.item-button{
    margin-right: 60px;
    .p-button.p-button-icon-only {
        color: rgb(255, 137, 156) !important;
        background-color: white;
        border-color: rgb(255, 137, 156) !important;
    }
    .p-button.p-button-icon-only:hover {
        color: white !important;
        background-color: rgb(255, 137, 156) !important;
        border-color: rgb(255, 93, 120) !important;
    }
    .p-button.p-button-icon-only:focus {
        box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px rgb(255, 93, 120) !important;
        background-color: rgb(255, 137, 156) !important;
        color: white !important;
    }
}